/* Work sans google font*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Open+Sans&family=Work+Sans:wght@400;600;700&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}

/* shared styles */
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  padding: 20px 20px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  border: 0;
}

/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
}
nav li a {
  font-weight: 500;
  font-size: 1rem;
  color: #424242;
  text-decoration: none;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}

/* banner styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}
.banner-description {
  color: #727272;
}
.banner img {
  margin-top: 20px;
  width: 100%;
}

/* responsive media queries */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  nav {
    flex-direction: column;
  }
  header {
    padding: 50px;
  }
}
